* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter";
    font-optical-sizing: auto;

}

body {
    background-color: rgba(26, 11, 46, 1);

}

/* shared style */
#about,
#TechWave-section,
#Featured-section {
    padding: 80px 0;
}

.about-container,
.tech-container,
.featured-container,
.footer-container,
.nav-section {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

}

.container-head {

    font-size: 2.2rem;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 16px;
    text-align: center;
    color: #FFFFFF;

}

/* regular style */

header {

    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-section .n-icon {
    display: none;
}

.banner-section {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    position: relative;
    width: 280px;
    transform: tanslateY(-80px);
    border: 2px solid wheat;
}

.banner-img .circle {
    width: 100%;
    height: auto;
    display: block;
}

.banner-img .micro {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
}



.banner-img .new {
    position: absolute;
    border: none;
    border-radius: 10000px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    right: -20px;
    top: 0;
    cursor: pointer;
}



.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 14px;
    position: absolute;
    top: 70%;
    left: 33%;
}

.banner-content h2 {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.banner-content h6 {
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
}

.banner-btn .btn-1 {

    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

}

.banner-btn .btn-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 10000px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    transition: transform .5s ease, box-shadow 0.4s ease;
}

.btn-2:hover {
    transform: translateX(10px);
    box-shadow: 0px 10px 10px rgba(169, 175, 169, 0.25);
}




.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-section h2 {
    color: #FFFFFF;
    font-size: 2.5rem;
}

h2 .wave {
    background: linear-gradient(to bottom, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* WebKit=browser rendering engine */
}

.nav-section .menu {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    font-weight: 200;
    line-height: 35px;
    align-items: center;
    justify-content: center;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

}



.about-context {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 75px;
}

.about-context p {
    font-size: .75rem;
    font-weight: 300;
    line-height: 20px;
}

.about-card .hr-line {
    width: 100%;
    border: none;
    height: 1px;
    margin-bottom: 75px;
    background-color: rgb(39, 29, 52)
}

.about-card .cards {
    display: flex;
    justify-content: space-between;
}

.cards .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px;
    text-align: center;


}

.card h2 {
    color: #00FF88;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 48px;


}

.card p {
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 200;
    line-height: 20px;

}

#TechWave-section {
    background-color: rgba(35, 14, 61, 1);
}

.tech-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

.tech-cards .card {

    padding: 20px;
    border-radius: 30px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.tech-cards .card img {
    width: 50px;
    height: 50px;
}

.tech-cards .card h4 {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 29px;
}


.card1 {
    grid-row: span 2;
}

.card2 {
    grid-column: span 2;
}

.card3 {
    grid-column: span 2;
}

.card4 {
    grid-column: span 2;
}



.episod-section .episod-cards {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;

}

.episod-cards .episod-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(53, 17, 101, 0.4);

}

.episod-card .vedio {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 57%;

}

.vedio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.card-content {
    padding: 20px;
    color: #FFFFFF;
    text-align: left;
}

.card-content h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: .50rem;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 10px;
}

.timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.timer h6 {
    font-size: .75rem;
    font-weight: 400;
    color: #00FF88;
}

.host-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.host-bio {

    background-color: rgba(53, 17, 101, 0.4);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.host-image img {
    width: 200px;
    height: 200px;
}

.host-bio .host-description {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: left;
    color: #FFFFFF;
}

.host-description h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;

}

.host-pera {
    font-size: .75rem;
    font-weight: 300;
    line-height: 24px;

}

.host-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.host-icon img {
    height: 30px;
    width: 30px;
    padding: 6px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
}

.footer-section {
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.footer-container h1 {
    color: #FFFFFF;
    font-size: 3rem;

}

.footer-container h6 {
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 200;
}

h1 .wave {
    background: linear-gradient(to bottom, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* WebKit=browser rendering engine */
}

.icon-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #FFFFFF;
}

.icon-div {
    display: flex;
    flex-direction: row;
    gap: 7px;

}

.icon-section h6 {
    font-size: .75rem;
    font-weight: 200;
}

.icon img {
    height: 15px;
    width: 15px;
}







/* responsive-section */
@media screen and (max-width:576px) {

    #about,
    #TechWave-section,
    #Featured-section {
        padding: 20px;
    }

    .about-container,
    .tech-container,
    .featured-container,
    .footer-container {

        width: auto;
        margin: 0 auto;
    }

    .container-head {

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 10px;
        text-align: center;
        color: #FFFFFF;

    }

    header {
        height: 70vh;

    }

    .nav-section h2 {

        font-size: 2rem;
    }

    .nav-section .menu {
        display: none;
    }

    .nav-section .button-div {
        display: none;
    }

    .nav-section .n-icon {
        display: block;
        font-size: 30px;
        color: #FFFFFF;

    }

    .nav-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner-section {
        height: 55vh;
        border: 2px solid wheat;
    }

    .banner-img {
        width: 120px;
        border: 2px solid wheat;
        transform: translateY(-90px);
    }

    .banner-img .micro {
        width: 35px;
        top: 10%;
    }

    .banner-img .new {
        padding: 4px 8px;
        font-size: 10px;

    }


    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        gap: 14px;
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .banner-content h2 {

        font-size: 2rem;

    }


    .about-card .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .tech-cards {

        grid-template-columns: repeat(1, 1fr);

        gap: 20px;

    }

    .card1,
    .card2,
    .card3,
    .card4,
    .cards {
        grid-column: span 1;
        grid-row: span 1;
    }

    .tech-cards .card {
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    .tech-cards .card img {
        width: 40px;
        height: 40px;

    }

    .card-content {
        padding: 20px;

    }


    .episod-section .episod-cards {

        display: flex;
        flex-direction: column;


    }

    .episod-card {
        width: 100%;
    }

    .host-bio {

        display: flex;
        flex-direction: column;

    }

    .footer-section {

        width: 100%;
        height: 50vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

    }

    .icon-section {


        display: grid;
        grid-template-columns: repeat(2, .75fr);
        gap: 2px;

    }

    .footer-container h1 {

        font-size: 2rem;

    }


}