* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter";
    font-optical-sizing: auto;

}

body {
    background-color: rgba(26, 11, 46, 1);

}

/* shared style */
#about,
#TechWave-section,
#Featured-section {
    padding: 80px 0;
}

.about-container,
.tech-container,
.featured-container,
.footer-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

}

.container-head {

    font-size: 2.2rem;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 16px;
    color: #FFFFFF;

}

/* regular style */

.about-context {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 75px;
}

.about-context p {
    font-size: .75rem;
    font-weight: 300;
    line-height: 20px;
}

.about-card .hr-line {
    width: 100%;
    border: none;
    height: 1px;
    margin-bottom: 75px;
    background-color: rgb(39, 29, 52)
}

.about-card .cards {
    display: flex;
    justify-content: space-between;
}

.cards .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px;
    text-align: center;


}

.card h2 {
    color: #00FF88;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 48px;


}

.card p {
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 300;
    line-height: 20px;

}

.tech-container .tech-head {
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

#TechWave-section {
    background-color: rgba(35, 14, 61, 1);
}

.tech-container .container-head {
    text-align: center;
}

.tech-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;


}

.tech-cards .card {

    padding: 20px;
    border-radius: 30px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.tech-cards .card img {
    width: 50px;
    height: 50px;
    /* margin-top: 20px; */
}

.tech-cards .card h4 {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 29px;
    /* margin-bottom: 16px; */
}

/* .tech-cards .card p {
    line-height: 30px;
} */


.card1 {
    grid-row: span 2;
}

.card2 {
    grid-column: span 2;
}

.card3 {
    grid-column: span 2;
}

.card4 {
    grid-column: span 2;
}




.episod-section .container-head {
    text-align: center;
}

.episod-section .episod-cards {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;

}

.episod-cards .episod-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(53, 17, 101, 0.4);

}

.episod-card .vedio {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 57%;

}

.vedio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.card-content {
    padding: 20px;
    color: #FFFFFF;
    text-align: left;
}

.card-content h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: .50rem;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 10px;
}

.timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.timer h6 {
    font-size: .75rem;
    font-weight: 400;
    color: #00FF88;
}

.host-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.host-section .container-head {
    text-align: center;
}

.host-bio {

    background-color: rgba(53, 17, 101, 0.4);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.host-image img {
    width: 200px;
    height: 200px;
}

.host-bio .host-description {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: left;
    color: #FFFFFF;
}

.host-description h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;

}

.host-pera {
    font-size: .75rem;
    font-weight: 300;
    line-height: 24px;

}

.host-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.host-icon img {
    height: 30px;
    width: 30px;
    padding: 6px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
}

.footer-section {
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid salmon; */
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.footer-container h1 {
    color: #FFFFFF;
    font-size: 3rem;

}

.footer-container h6 {
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 200;
}

h1 .wave {
    background: linear-gradient(to bottom, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* WebKit=browser rendering engine */
}

.icon-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #FFFFFF;
}

.icon-div {
    display: flex;
    flex-direction: row;
    gap: 7px;

}

.icon-section h6 {
    font-size: .75rem;
    font-weight: 200;
}

.icon img {
    height: 15px;
    width: 15px;
}







/* responsive-section */
@media screen and (max-width:576px) {

    #about,
    #TechWave-section,
    #Featured-section {
        padding: 20px;
    }

    .about-container,
    .tech-container,
    .featured-container,
    .footer-container {
        /* width: 100%; */
        width: auto;
        margin: 0 auto;
    }

    .about-card .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .tech-cards {

        grid-template-columns: repeat(1, 1fr);

        gap: 20px;

    }

    .card1,
    .card2,
    .card3,
    .card4,
    .cards {
        grid-column: span 1;
        grid-row: span 1;
    }

    .tech-cards .card {
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    .tech-cards .card img {
        width: 40px;
        height: 40px;

    }

    .card-content {
        padding: 20px;

    }


    .episod-section .episod-cards {

        display: flex;
        flex-direction: column;


    }

    .episod-card {
        width: 100%;
    }

    .host-bio {

        display: flex;
        flex-direction: column;

    }

    .footer-section {

        width: 100%;
        height: 50vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

    }

    .icon-section {


        display: grid;
        grid-template-columns: repeat(2, .75fr);
        gap: 2px;

    }


}